.MoviesRowBlack, .MoviesRowLight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 40px;
}

.MoviesRowBlack {
    background: url("https://ae04.alicdn.com/kf/HTB1imMQnJzJ8KJjSspkq6zF7VXaf/-.jpg");
}

.MoviesRowLight {
    background: url("https://wallpaperaccess.com/full/2564042.jpg");
}


