.containerBlack{
    height: 100vh;
    width: 100%;
    color: white;
    background: url("https://wallpaperaccess.com/full/2564042.jpg");

}

.containerWhite {
    height: 100vh;
    width: 100%;
    color: black;
    background: url("https://ae04.alicdn.com/kf/HTB1imMQnJzJ8KJjSspkq6zF7VXaf/-.jpg");
}

.register {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.row{
    display: flex;
}


.forgot {
    border: 1px solid orange;
    border-radius: 20px;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
}
