.EmptyResponse {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    font-weight: bold;
}


.black {
    background: black;
    color: white;
}


.light {
    background: white;
    color: black;
}

